.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 0;
}

@media (min-width: 768px) {

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, min(min-content, max-content));
    gap: 20px;
    margin: 20px 0 0;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item:last-child {
    grid-column: 2 / 4;
  }
}

img {
  display: block;
}

.gallery__image {
  object-fit: cover;
  object-position: top;
  inline-size: 100%;
}

@media (min-width: 768px) {
  
  .gallery__image {
  object-fit: cover;
  object-position: top;
  block-size: 100%;
}
}
