.page {
  margin: 0 auto;
  padding: 0 10px;
  color: var(--main-text-color);
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-text-size);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

@media (min-width: 768px) {

  .page {
    padding: 0px 20px;
    padding-top: 0;
  }
}

.main {
  display: grid;
  padding: 40px 0;
}

@media (min-width: 768px) {

  .main {
    padding: 60px 0;
  }
}

.shadow-text {
  color: var(--shadow-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

@media (min-width: 768px) {
  .shadow-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  color: var(--decor-text-color);
  font-size: var(--main-text-size);
  line-height: 130%;
  background-color: var(--accent-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (any-hover: hover) {

  .link:hover {
    border-bottom: 1px solid currentColor;
    transition: color 0.1s linear;
  }
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.paragraph-text {
  font-size: var(--main-text-size);
  line-height: 130%;
}

