:root {
  --bg-image: url(../images/cover-image-dark.png);
  --main-font-family: 'IBM Plex Mono';
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-heading-color: #db00ff;
  --decor-corner-color: #ff0070;
  --menu-color: #ff0070;
  --main-text-size: 18px;
  --button-hoover-color: #ff007066;
  --rec-color: #ff0070;
  --decor-text-color: #000028;
  --accent-bg-color: var(--accent-color);
  --menu-color: #ff0070;
  --heading-color: #ff0070;
  --link-color: #ff0070;
}
